html, body {
	height: 100%;
}
.main-wrapper {
	padding-left: 270px;
	padding-bottom: 40px;
	min-height: 100%;
	position: relative;
}
.main-wrapper > .footer-container .copyright {
	color: var(--primary);
}
.main-menu {
	position: fixed;
	left: 0;
	top: 0;
	background: var(--primary-light);
	width: 270px;
	min-height: 100%;
	color: var(--white);
}
.menu-header {
	min-height: 62px;
	padding: 10px 15px;
	background: var(--secondary);
}
.main-container {
	background-color: var(--primary);
}

.footer-container {
	position: absolute;
	bottom: 0;
}