:root {
  --blue:          #007bff;
  --indigo:        #6610f2;
  --purple:        #6f42c1;
  --pink:          #e83e8c;
  --red:           #dc3545;
  --orange:        #fd7e14;
  --yellow:        #ffc107;
  --green:         #28a745;
  --teal:          #20c997;
  --cyan:          #17a2b8;
  --white:         #fff;

  --light:         #f6f6f6;
  --light-gray:    #dedcdc;
  --gray:          #CCC;
  --medium-dark:   #868686;
  --gray-dark:     #4a4a4a;

  --dark:          #343a40;
  --black:         #000000;
  
  --alabaster:     #FAFAFA;

  --primary:       #0066cc;
  --primary-light: #0070da;
  --secondary:     #023d75;

  --anakiwa:       #a7d4ff;
  --success:       #28a745;
  --info:          #17a2b8;
  --warning:       #ffc107;
  --danger:        #dc3545;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-primary: Arimo, sans-serif;
}

